:root {
    --primary-color: #005f73;
    --secondary-color: #0a9396;
    --accent1-color: #001219;
    --accent2-color: #ee9b00;

    --heading-font: Georgia, serif;
    --body-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #2d6f9f;
}

/* Main Content */
main {
    max-width: 840px;
    margin: 0 auto;
}

h1 {
    color: steelblue;
    margin: 1rem 0;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    margin: 0 0 1rem 1rem;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    line-height: 1.6;
}

/* Aside */
aside {
    position: relative;
    width: 20rem;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 0.5rem;
}

aside img {
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 1rem;
}

/* ==========================
   Class Selectors
========================== */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eeeeee;
    color: #333;
}